/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2018, 4:08:29 AM
    Author     : jonkur
*/

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.root-container {
    width: 100%;
    height: 90%;
    padding: 0;
    margin: 0;
}

.header-container {
    font-family: monospace;
    text-align: center;
    margin: 0 300px;
    padding: 15px 0;
}
.header-container>h1 {
    margin: 0;
}

.main-container {
    margin: 0 300px;
}

.kurssi-container {
    padding: 18px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 12px 0;
}
.kurssi-container>h4 {
    font-size: 22px;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

.aihe-container {
    background: #eeeef8;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 8px 0;
}
.aihe-container>h5 {
    font-size: 15px;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

.kysymys-container {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    padding: 8px;
}
.kysymys-container>a {
    color: buttontext;
    font-size: 16px;
    text-decoration: none;
}
.kysymys-container>a:hover {
    background: #ffcece;
}
.kysymys-removeform {
    display: inline;
}
.kysmys-removebtn {
    background: #ffdede;
    display: inline-block;
    border: 0;
    border-radius: 24px;
}
.kysmys-removebtn:hover {
    background: lightpink;
    cursor:pointer;
}

.uusikysymys-container {
    text-align: center;
    padding: 20px 0;
}
.uusikysymys-form {
    display:inline-block;
}
.uusikysymys-rivi {
    width: 700px;
    margin: 10px 0;
}
.uusikysymys-rivi>span {
    display: inline-block;
    text-align: left;
    width: 80px;
}
.uusikysymys-rivi>input {
    width: 500px;
}


/*Kysmyssivu*/

.kysymyssivu-kysmys-header {
    font-size: 16px;
    margin: 0;
    margin-top: 15px;
}

.kysymyssivu-kysmys-kurssi {
    display:inline-block;
    font-family: monospace, arial, sans-serif;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
}
.kysymyssivu-kysmys-aihe {
    display:inline-block;
    font-family: monospace, arial, sans-serif;
    letter-spacing: -1px;
    margin: 0;
    margin-left: 25px;
    padding: 0;
}


.vastaukset-info {
    margin-bottom: 0;
}

.kysymyssivu-vastaukset-container {
    padding: 10px;
    padding-left: 40px;
    margin: 0;
    margin-bottom: 10px;
}

.kysymyssivu-vastaus-container {
    display: list-item;
    list-style-type: lower-latin;
    list-style-position: outside;
    margin-bottom: 7px;
}
.kysymyssivu-vastaus-text {
    display: inline;
}

.kysymyssivu-vastaus-oikein {
    color: red;
    font-family: monospace;
    font-weight: bold;
}
.oikein {
    color: green;
}

.kysymyssivu-vastaus-poistavastaus-form {
    display: inline;
}
.kysymyssivu-vastaus-poistavastaus-btn {
    display: inline-block;
    border: 0;
    border-radius: 24px;
}
.kysymyssivu-vastaus-poistavastaus-btn:hover {
    background: lightpink;
    cursor:pointer;
}

.kysymyssivu-vastauksenlisays-container {
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 0;
}

.kysymyssivu-vastauksenlisays-rivi {
    width: 700px;
    margin: 10px 0;
}

.kysymyssivu-vastauksenlisays-rivi>span {
    display: inline-block;
    text-align: left;
    width: 115px;
}

#vastausfield {
    width: 500px;
}