<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="root-container">
            <div class="kysymys-container">
                <h3 class="kysymys-header" th:text="${kysymys}">Kysymys tähän</h3>
                <p class="kysymys-kurssi" th:text="${kurssi}">Kurssi tähän</p>
                <p class="kysymys-aihe" th:text="${aihe}">Aihe tähän</p>
                <div class="vastakset-container">
                    <div class="vastaus-container" th:each="vastaus: ${vastaukset}">
                        <p class="vastaus-text" th:text="${vastaus.teksti}">Tämä on vastaus</p>
                        <span th:text="${vastaus.oikea}? oikein : väärin">Vastaus oikein tai väärin</span>
                        <form method="POST" action="/poistavastaus">
                            <input type="hidden" name="kysymys_id" th:value="${kysymys_id}" />
                            <input type="hidden" name="vastaus_id" th:value="${vastaus.id}" />
                            <input type="submit" value="Poista" />
                        </form>
                    </div>
                </div>
                <div class="vastauksenlisays-container">
                    <form method="POST" action="/vastaus" >
                        <span>Vastausteksti:</span>
                        <input type="hidden" name="kysymys_id" th:value="${kysymys_id}" />
                        <input type="text" name="vastausteksti" />
                        <span>Oikein:</span>
                        <input type="checkbox" name="vastausoikein" value="true" />
                        <input type="submit" value="Luo" />
                    </form>
                </div>
            </div>
            <a href="/">Takaisin kysymyslistaukseen</a>
        </div>
    </body>
</html>
