<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../style.css"/>
    </head>
    <body>
        <div class="root-container">
            <div class="main-container">
                <h3 class="kysymyssivu-kysmys-header" th:text="${kysymys}">Kysymys tähän</h3>
                <p class="kysymyssivu-kysmys-kurssi">Kurssi: 
                    <span th:text="${kurssi}">Kurssi tähän</span>
                </p>
                <p class="kysymyssivu-kysmys-aihe">Aihe: 
                    <span th:text="${aihe}">Aihe tähän</span>
                </p>
                <h6 class="vastaukset-info">Vastaukset:</h6>
                <ol class="kysymyssivu-vastaukset-container">
                    <li class="kysymyssivu-vastaus-container" th:each="vastaus: ${vastaukset}">
                        <p class="kysymyssivu-vastaus-text" th:text="${vastaus.teksti}">Tämä on vastaus</p>
                        <span class="kysymyssivu-vastaus-oikein" th:classappend="${vastaus.oikea} ? oikein : vaarin" th:text="${vastaus.oikea}? oikein : väärin">Vastaus oikein tai väärin</span>
                        <form class="kysymyssivu-vastaus-poistavastaus-form" method="POST" action="/poistavastaus">
                            <input type="hidden" name="kysymys_id" th:value="${kysymys_id}" />
                            <input type="hidden" name="vastaus_id" th:value="${vastaus.id}" />
                            <input class="kysymyssivu-vastaus-poistavastaus-btn" type="submit" value="Poista" />
                        </form>
                    </li>
                </ol>
                <div class="kysymyssivu-vastauksenlisays-container">
                    <p class="uusivastaus-info">Lisää uusi vastaus:</p>
                    <form class="kysymyssivu-vastauksenlisays-form" method="POST" action="/vastaus" >
                        <div class="kysymyssivu-vastauksenlisays-rivi">
                            <span>Vastausteksti:</span>
                            <input type="hidden" name="kysymys_id" th:value="${kysymys_id}" />
                            <input id="vastausfield" type="text" name="vastausteksti" />
                        </div>
                        <div class="kysymyssivu-vastauksenlisays-rivi">
                            <span>Oikein:</span>
                            <input type="checkbox" name="vastausoikein" value="true" />
                        </div>
                        <input id="vastauslahetabtn" onclick="vastausFunc(event);" type="submit" value="Luo uusi vastaus" />
                    </form>
                </div>
                <a class="kysymyssivu-takaisin" href="/">Takaisin kysymyslistaukseen</a>
            </div>
        </div>
        <script type="text/javascript" src="../scripts.js"></script>
    </body>
</html>
